/* global */
*{
    box-sizing: border-box;
}

body {
    direction: rtl;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.8em;
    text-shadow: 2px 2px 2px #BDBDBD;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
    font-weight: 400;
}
h5 {
    font-size: 1.2em;
    font-weight: 400;
}
.mb-5 {
    margin-bottom: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.left{
    float: left;
}
.right {
    float: right;
}

.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}

.col-md-6 {
    width: 50%;
}
.clear {
    clear: both;
}

/* container */
.container {
    width: 900px; 
    margin: 0 auto; 
}
/* main section */
.main {
    position: relative;
    border:1px solid #222;
    padding:0 20px 30px;
    background: url('../img/arab-man.jpg') right center no-repeat;
    background-size: cover;
}
@media only screen and (min-width: 769px){
    .main {
        min-height: 696px;
    }    
    .logo {
        position: absolute;
        top: 30px;
        left: 0;
    }
}
.logo img {
    border-radius: 0 5px 5px 0;
    width: 175px;
}
h5 .icon {
    width: 35px;
    vertical-align: bottom;
    margin-left: 5px
}
/* form */
.form {
    width: 300px;
    padding: 20px 10px;
    background-color: #434446;
    border-radius: 15px;
}
.form h4 {
    color: #fafafa;
    text-align: center;
    margin: 0;
}
input[type="email"], input[type="name"], button, .mobile-input {
    display: block;
    width: 95%;
    margin: 10px auto 0;
}
input[type="email"], input[type="name"], button, input[type="tel"], .mobile-input span select {
    padding: 12px 10px;
    border: 0;
}
.mobile-input span, .mobile-input input {
    margin: 0;
    height: 41px;
}
.mobile-input span{
    width:30%;
    background-color: #ece2c0;
} 
.mobile-input span select {
    width: 100%;
}
.mobile-input input{
    width: 70%;
}
button {
    background-color: #7daf4c;
    border: 1px solid #333;
    color: #fff;
    font-size: 18px;
}
/* footer 1 */
.footer1 img, .verify img {
    cursor: pointer;
    opacity: 0.7;
}
/* footer 2 */
.details {
    font-weight: 600;
    direction: ltr;
}
.fa {
    margin-top: 5px;
    margin-right: 5px;
}
.verify img {
    margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 800px
    }
    .verify img {
        display: none;
    }
}
@media only screen and (max-width: 850px) {
    .container {
        width: 725px;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        width: 560px;
        text-align: center;
    }
    .logo img{
        margin-top: 40px;
        width: 150px;
    }   
    .left, .right {
        float: none;
    }
    .txt-left, .txt-right {
        text-align: inherit;
    }
    .form {
        margin: 0 auto;
    }
    .form .mobile-input span, .form .mobile-input input {
        float: right;
        height: 37px;
    }
    input[type="email"], input[type="name"], button, input[type="tel"], .mobile-input span select {
        padding: 10px 5px 10px 0;
    }
    /*footer1*/
    .footer1 {
        padding: 15px 0;
    }
    .footer1 div {
        margin:0 auto;
    }
    .footer1 img {
        width: 100%;
    }
    /*footer2*/
    .footer2 div {
        width: 75%;
        margin: 0 auto;
    }
    .footer2 .right {
        text-align: right;
    }
    .footer2 .left {
        text-align: left;
    }
}
@media only screen and (max-width:556px){
    .container {
        padding: 30px 15px;
        width: 100%;  
      }
}
@media only screen and (max-width:425px){
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: initial;
    }
    .col-sm-9 {
        width: 75%;
        margin: 0 auto;
    }
    .logo img {
        width: 125px;
    }
    .form {
        width: 250px;
    }
    /*footer2*/
    .footer2 div {
        width: 90%;
    }
}
@media only screen and (max-width:375px){
    .form {
        width: 225px;
    }
}
